@import url("http://fonts.cdnfonts.com/css/depixel");
@import url("http://fonts.cdnfonts.com/css/resotyg-personal-use");
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-family: "DePixel", sans-serif;
  overflow-y: overlay;
}
.backGround {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./img/bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(100%) brightness(50%) blur(5px);
  z-index: -100;
}

.header {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.nav {
  width: 50%;
}
.hoverBox {
  transition: transform 0.2s;
}

.hoverBox:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}

button {
  padding: 2rem;
  width: 250px;
  margin: 5px 10px;
  font-family: inherit;
  font-size: 22px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 3px black solid;
  border-radius: 50px;
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.buttons {
  display: flex;
}

.pokemonCard {
  min-height: 300px;
  width: auto;
  position: relative;
  background-color: rgb(143, 146, 143);
  border-radius: 40px;
  box-shadow: 8px 8px 30px grey;
  transition: all 0.2s;
  z-index: -1;
  overflow: hidden;
}
.pokemonCard:hover {
  transform: translateY(-10px);
}
.pokemonCard.grass {
  background-color: #7ac74c;
  box-shadow: 12px 12px 30px #7ac74c;
}
.pokemonCard.fire {
  background-color: #ee8130;
  box-shadow: 12px 12px 30px #ee8130;
}
.pokemonCard.water {
  background-color: #6390f0;
  box-shadow: 12px 12px 30px #6390f0;
}
.pokemonCard.bug {
  background-color: #a6b91a;
  box-shadow: 12px 12px 30px #a6b91a;
}
.pokemonCard.normal {
  background-color: #a8a77a;
  box-shadow: 12px 12px 30px #a8a77a;
}
.pokemonCard.poison {
  background-color: #a33ea1;
  box-shadow: 12px 12px 30px #a33ea1;
}
.pokemonCard.electric {
  background-color: #f7d02c;
  box-shadow: 12px 12px 30px #f7d02c;
}
.pokemonCard.ground {
  background-color: #e2bf65;
  box-shadow: 12px 12px 30px #e2bf65;
}
.pokemonCard.fairy {
  background-color: #d685ad;
  box-shadow: 12px 12px 30px #d685ad;
}
.pokemonCard.ghost {
  background-color: #735797;
  box-shadow: 12px 12px 30px #735797;
}
.pokemonCard.ice {
  background-color: #96d9d6;
  box-shadow: 12px 12px 30px #96d9d6;
}

.pokemonCard.fighting {
  background-color: #c22e28;
  box-shadow: 12px 12px 30px #c22e28;
}
.pokemonCard.psychic {
  background-color: #f95587;
  box-shadow: 12px 12px 30px #f95587;
}
.pokemonCard.rock {
  background-color: #b6a136;
  box-shadow: 12px 12px 30px #b6a136;
}
.pokemonCard.steel {
  background-color: #b7b7ce;
  box-shadow: 12px 12px 30px #b7b7ce;
}
.pokemonCard.dark {
  background-color: #705746;
  box-shadow: 12px 12px 30px #705746;
}
.pokemonCard.dragon {
  background-color: #6f35fc;
  box-shadow: 12px 12px 30px #6f35fc;
}
.pokemonCard.flying {
  background-color: #a98ff3;
  box-shadow: 12px 12px 30px #a98ff3;
}

.pokeIcon {
  position: absolute;
  transform: translate(70px, 70px);
  bottom: 1px;
  right: 1px;
  opacity: 0.08;
  z-index: 0;
}

.pokemonName {
  font-size: 37px;
  font-weight: bold;
  color: white;
}

.pokemonType {
  background: rgba(253, 253, 253, 0.2);
  font-size: 19px;
  color: white;
  min-width: 35%;
  margin: 0px 2px;
  padding: 2px;
  height: 34px;
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
.pokemonType {
  background: rgba(253, 253, 253, 0.2);
  font-size: 19px;
  color: white;
  min-width: 35%;
  margin: 0px 2px;
  height: 34px;
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.pokemonImage {
  height: 270px;
  width: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* single pokemon display */

.pokemonDisplayCard {
  height: 600px;
  width: 500px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.pokemonDisplayCard.grass {
  background-color: #7ac74c;
}
.pokemonDisplayCard.fire {
  background-color: #ee8130;
}
.pokemonDisplayCard.water {
  background-color: #6390f0;
}
.pokemonDisplayCard.bug {
  background-color: #a6b91a;
}
.pokemonDisplayCard.normal {
  background-color: #a8a77a;
}
.pokemonDisplayCard.poison {
  background-color: #a33ea1;
}
.pokemonDisplayCard.electric {
  background-color: #f7d02c;
}
.pokemonDisplayCard.ground {
  background-color: #e2bf65;
}
.pokemonDisplayCard.fairy {
  background-color: #d685ad;
}
.pokemonDisplayCard.ghost {
  background-color: #735797;
}
.pokemonDisplayCard.ice {
  background-color: #96d9d6;
}

.pokemonDisplayCard.fighting {
  background-color: #c22e28;
}
.pokemonDisplayCard.psychic {
  background-color: #f95587;
}
.pokemonDisplayCard.rock {
  background-color: #b6a136;
}
.pokemonDisplayCard.steel {
  background-color: #b7b7ce;
}
.pokemonDisplayCard.dark {
  background-color: #705746;
}
.pokemonDisplayCard.dragon {
  background-color: #6f35fc;
}
.pokemonDisplayCard.flying {
  background-color: #a98ff3;
}

.cardHover {
  transition: transform 0.2s;
}

.cardHover:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
}

.pokemonImageDisplay {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

.pokeNumberDecor {
  font-family: monospace;
  font-weight: 900;
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 0;
  top: 10px;
  left: 10px;
  font-size: 120px;
  opacity: 0.3;
}
